<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>minitienda.Controlador</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
</web-app>